*{
    margin: 0;
    padding: 0;  
}
.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 20px;
}
.nav ul{
    background: grey;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #16a085;
    
}
.nav ul li:hover a{
    color: snow;
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #bdc3c7;
    text-decoration: none;
}
.mainbox{
    margin-top: 30px;
    margin-left:20px;
    margin-bottom: 500px
    background: rgba(255,255,255,.3);
    height: 700px;
    width:600px;
    border-radius: 25px;
    white-space: 25px;
    box-shadow: 8px 8px 10px rgba(0,0,0,.3);
}
